<div class="ui raised segment">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="ui form">
        <div class="field">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" 
                minlength="3"
                required="true"
                placeholder="name" 
                [(ngModel)]="name"
                #nm="ngModel">
        </div>
        <div class="field">
            <label for="email">E-mail:</label>
            <input type="text" name="email" id="email" 
            placeholder="email" [(ngModel)]="email">
        </div>
        <div>
            <button type="submit" class="ui button" [style.color]="'red'" (click)="validate(f.form)">Add User</button>
        </div>
        <div class="ui negative message"
            *ngIf="f.invalid && (f.dirty)">
            Errors on the form. Pl fix.
    </div>
    </form>
</div>
